@charset "UTF-8";

/*Estilo para impressoras*/

* {
margin: 10px;
padding: 10px;

}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    line-height: 1.5em;
}

menu {
    display: none; /*não vai exibir o menu para impressão*/
}

article::after {
    content: "Esse artigo foi impresso através do site: www.cursoemvideo.com;" /*CONTENT: Fazer um comentário*/
}