@charset "UTF-8";


body{
    background-color: rgb(117, 6, 6);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
    color: rgb(143, 134, 12);
    background-color: rgb(161, 196, 66);
}

h2{
    color: rgb(255, 255, 255);
}

p{
    text-align: justify;
}